# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android Studio / IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Firebase debug logs
firebase-debug.log

# Generated metadata
.metadata

assets/data/service-account.json
